.main-title
  text-align: center
  margin-top: 5rem
  color: #0E0E0E

.info-text
  text-align: center
  width: 900px
  margin: auto

.icons
  display: flex
  max-width: 1170px
  margin: 0 auto

.icon-title
  max-width: 500px